<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iriz_techno.uts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".kompenen_activity" />
        <activity android:name=".s_activity" />
        <activity android:name=".k_service" />
        <activity android:name=".s_service" />
        <activity android:name=".k_view" />
        <activity android:name=".s_view" />
        <activity android:name=".k_intent" />
        <activity android:name=".s_intent" />
        <activity android:name=".s_acivity" />
        <activity android:name=".s_fragment" />
        <activity android:name=".k_fragment"></activity>
    </application>

</manifest>